body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
}

.wrapper {
    margin: 0 auto;
    width: 62.5vw;
}

/*-------------header---------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.52vh;
    padding-bottom: 3.52vh;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-title {
    margin-left: 1.35vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6vh;
    font-weight: 400;
    line-height: 1.85vh;
}

.header-phone {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.48vh;
    font-weight: 400;
    line-height: 1.94vh;
    margin-left: 0.47vw;
}

.header-search {
    margin-left: 1.6vw;
    padding: 0.52vw;
}

/*--------------description--------------*/

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 4.35vh; 
}

.description-left {
    max-width: 33.12vw;
    padding-top: 4.25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-title {
    font-family: 'Gilroy';
    font-size: 5.55vh;
    font-weight: 400;
    color: #ffffff;
    line-height: 5.93vh;
}

.description-menu {
    max-width: 19.5vw;
    margin-top: 5.37vh;
}

.description-company, .description-product {
    margin-bottom: 2.22vh;
}

.description-product, .description-goods{
    margin-top: 2.22vh;
}

.description-menu-line {
    height: 1px;
    background: linear-gradient(to right, #4B4B4B, #26262500);
}

.description-menu-item {
    margin-left: 0.78vw;
}

.description-menu-content > span {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.85vh;
    line-height: 1.85vh;
    margin-left: 0.78vw;
}

.description-menu-footer {
    padding-bottom: 2.96vh;
    display: flex;
}

.description-menu-footer-item {
    width: 31px;
    height: 2px;
}

.description-menu-footer-item:not(:first-child) {
    margin-left: 0.92vw;
}

.description-right {
    position: relative;
}

.price-button-small {
    padding: 0.74vh;
    font-size: 1.48vh;
    line-height: 1.85vh;
}

.price-button-big {
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
}

.price-button {
    font-family: 'TP Sans', sans-serif;
    color: #ffffff;
}

.description-price {
    position: absolute;
    top: 28.43vh;
    left: 6.3vw;
}

.description-tap {
    max-height: 51.1vh;
    display: block;
}

/*---------------description-intro------------*/

.description-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 7.59vh;
    padding-bottom: 7.59vh;
}

.intro-orange {
    max-width: 30.73vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.66vh;
    font-weight: 400;
    line-height: 2.5vh;
}

.intro-orange-content {
    display: flex;
    align-items: center;
}

.intro-first-letter {
    line-height: 3.98vh;
    font-size: 5vh;
}

.intro-first-title {
    font-weight: bold;
}

.intro-features {
    max-width: 21.2vw;
}

.intro-feature {
    display: flex;
    align-items: start;
}

.intro-feature-content {
    max-width: 13.07vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.38vh;
    line-height: 1.85vh;
    margin-left: 1.48vw;
}

.intro-feature-content-title {
    font-family: 'Gilroy';
    font-size: 1.48vh;
    font-weight: 700;
    line-height: 1.48vh;
    color: #151716 !important;
}

/*-------------products--------------*/

.products-container {
    margin-top: 7.4vh;
    margin-bottom: 9.26vh;
    display:flex;
    flex-direction: column;
}

.products-title{
    font-family: 'Gilroy';
    font-size: 2.96vh;
    line-height: 3.33vh;
    color: #151716;
}

.products {
    display: flex;
    margin-top: 2.59vh;
    justify-content: space-between;
}

.product {
    position: relative;
}

.product > img{
    margin-right: 0.73vw;
    max-width: 14.95vw;
}

.product-name {
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 1.85vh;
    font-weight: 700;
    line-height: 2.3vh;
    position: absolute;
    bottom: 2.04vh;
    left: 1.25vw;
}

.product-line {
    position: absolute;
    width: 11.45vw;
    height: 1px;
    background: linear-gradient(to right, #ffffff36, #ffffff0c);
    bottom: 7.9vh;
    left: 1.25vw;
}

/*--------------collections--------------*/

.collections {
    display: flex;
}

.collections-content, .collections-img {
    width: 50vw;
}

.collections-content {
    margin-left: 18.75vw;
    margin-right: 3.65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collections-top-text{
    color: #BEBEBE;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.67vh;
    line-height: 2.58vh;
}

.collections-title {
    margin-top: 6.2vh;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 2.96vh;
    line-height: 3.33vh;
    color: #ffffff !important;
}

.collections-all {
    margin-top: 2.4vh;
    margin-bottom: 3.5vh;
}

.collections-all > span{
    margin-left: 0.78vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.48vh;
    line-height: 2.22vh;
    color: #BEBEBE;
}

.collections-img > img{
    max-height: 61.5vh;
}

.collections-img {
    position: relative;
}

.collections-img-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.66vh;
    color: #ffffff;
    line-height: 2.96vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 7.04vh;
    left: 4.11vw;
}

.collections-button {
    position: absolute;
    top: 10.55vh;
    left: 4.11vw;
}

/*-------------goods----------------*/

.goods {
    margin-top: 7.4vh;
    margin-bottom: 7.4vh;
}

.goods-title {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 2.96vh;
    line-height: 3.33vh;
    margin-bottom: 1.85vh;
}

.goods-items {
    display: flex;
}

.goods-items > * {
    border: 1px solid #ECECEC;
}

.good {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.good-img > img {
    max-height: 17.4vh;
    margin: 1.85vh;
}

.good-img > span {
    margin: 1.11vh;
}

.good-img {
    display: flex;
    align-items: start;
}

.good-description {
    max-width: 13.54vw;
    margin: 1.85vh;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.48vh;
    line-height: 2.03vh;
    color: #151716;
}

.good-price {
    margin-left: 1.85vh;
    margin-bottom: 2.22vh;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.good-price-discount {
    font-size: 1.48vh;
    line-height: 1.48vh;
    color: #A5A5A5;
    text-decoration: line-through;
}

.good-price-normal {
    color: #000000;
    font-size: 1.85vh;
    line-height: 1.85vh;
}

/*------------advantages-----------*/

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-title {
    margin-top: 6.48vh;
    margin-bottom: 5vh;
    font-family: 'Gilroy';
    font-size: 2.96vh;
    line-height: 3.33vh;
}

.advanatges-items {
    width: 49.9vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.4vh;
}

.advantage {
    max-width: 14.68vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage-upper > img {
    max-height: 8.33vh;
}

.advantage-title {
    margin-top: 2.22vh;
    margin-bottom: 1vh;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 1.85vh;
    line-height: 1.85vh;
    color: #151716;
    text-align: center;
}

.advantage-description {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 1.38vh;
    line-height: 1.85vh;
    color: #7B7B7B;
    text-align: center;
}

/*--------------orange bottom-------------*/

.orange-bottom {
    position: relative;
}

.orange-bottom-img {
    display: block;
    width: 100%;
}

.orange-bottom-text {
    width: 62.5vw;
    padding-top: 3.88vh;
    padding-bottom: 4.35vh;
    font-family: 'Gilroy';
    font-size: 2.59vh;
    font-weight: 400;
    line-height: 3.33vh;
    text-align: center;
    background-color: #F6761A;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 18.75vw;
}

/*-------------footer-------------*/

.orange-footer {
    padding-top: 5.55vh;
    margin-bottom: 5.18vh;
    display: flex;
    justify-content: space-between;
}

.orange-menu-title {
    font-family: 'Gilroy';
    font-size: 1.48;
    font-weight: 700;
    line-height: 1.48;
    color: #ffffff;
}

.orange-upper-margin {
    margin-top: 1.85vh;
}

.orange-bottom-margin {
    margin-bottom: 1.85vh;
}

.orange-footer-menu-item {
    color: #BEBEBE;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.67vh;
    line-height: 2.58vh;
}

.orange-footer-menu-item > span {
    margin-left: 0.78vw;
}

.orange-copyright {
    padding-bottom: 2.22vh;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #747474;
    font-family: 'Roboto';
    font-size: 1.11vh;
    font-weight: 400;
    line-height: 1.11vh;
}

.orange-copyright-developed-by {
    border: 1px solid #494949;
    margin-left: 1.25vw;
    padding: 8px 12px; 
}

/*-------------bottom-line------------*/
.bottom-line {
    border: 1px solid #484848;
}

.arrow-up {
    margin: 3.98vh 49vw;
}

/*-------------fonts----------------*/

@font-face {
    font-family: 'Gilroy';
    src: url(content/font/gilroy-regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(content/font/Roboto-Regular.ttf);
}

/*--------------colors--------------*/

.light-gray-1 {
    color: #999999;
}

.light-gray-2 {
    color: #939393;
}

.light-gray-3 {
    color: #BEBEBE;
}

.light-gray-text {
    color: #7B7B7B;
}

.light-gray-back {
    background-color: #F6F6F6;
}

.gray-back {
    background-color: #575757;
}

.gray-border {
    border: 1px solid #494949;
}

.orange {
    color: #FE5B00;
}

.orange-back {
    background-color: #FF7028;
}

.darck-gray-background {
    background-color: #060707D9;
}

.darck-gray-background-2 {
    background-color: #202122;
}